:root {
	--main-color: rgb(16, 40, 64);
	--bg-light-white: rgb(255, 255, 255);
	--bg-color: rgb(233, 238, 243);
	--hover-btn-color: rgb(39, 97, 154);
	--bright-bg: rgb(201, 222, 242);
	--border: rgb(184, 207, 229);
	--note: rgb(255, 245, 137);
	--sidebar-link-active: rgb(0, 112, 233);
	--table-info: rgb(172, 212, 252);
	--disabled-color: rgb(148, 148, 148);
	--section-color: rgb(242, 241, 244);
	--sectionEven-color: rgba(119, 196, 255, 0.16);
	--close-btn-red: rgb(255, 48, 48);
}

html.dark {
	--main-color: rgba(255, 255, 255, 0.932);
	--bg-light-white: rgb(16, 40, 64);
	--bg-color: rgb(1, 57, 113);
	--bright-bg: rgba(201, 222, 242, 0.23);
	--border: rgba(184, 207, 229, 0.386);
	--hover-btn-color: rgba(255, 255, 255, 0.572);
	--note: rgb(251 166 37 / 77%);
	--sidebar-link-active: rgba(251, 208, 37, 0.868);
	--table-info: rgba(39, 96, 154, 0.236);
	--section-color: rgba(33, 33, 33, 0.5);
	--close-btn-red: rgb(255 0 0);
}

@media screen and (min-width: 768px) {
	html {
		font-size: 18px;
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 20px;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 22px;
	}
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 24px;
	}
}

body {
	padding: 0;
	margin: 0;
	color: var(--main-color);
	background-color: var(--bg-light-white);

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}
.header {
	display: flex;

	justify-content: center;
	align-items: center;
	position: fixed;
	padding: 1rem;
	background-color: var(--bg-color);
	z-index: 999999999999999999;
	height: 4rem;
	width: 100%;
	animation: slide-in-down 0.6s ease-out both;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 1024px) {
	.header {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.header-left-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}

.header-left-wrapper a {
	animation: slide-in-right 0.6s ease-out 0.7s both;
}
@media screen and (min-width: 768px) {
	.header-left-wrapper {
		align-items: flex-end;
	}
}
.header a {
	max-width: 9.375rem;

	color: var(--main-color);
}

@media screen and (min-width: 1024px) {
	.header a {
		scale: 1.1;
	}
}
@media screen and (min-width: 1200px) {
	.header a {
		scale: 1.15;
	}
}

@media screen and (min-width: 1440px) {
	.header a {
		scale: 1.3;
	}
}

.header .logo {
	display: block;
	height: 1.4rem;

	transition: transform 0.4s ease;
}
@media screen and (min-width: 768px) {
	.header .logo {
		height: 1.6667rem;
	}
}

.header .logo:hover {
	transform: scale(1.1);
}

.greetings-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.greetings {
	text-align: center;
	font-size: 1rem;
	font-style: italic;
	font-weight: 600;
	color: var(--main-color);
	text-shadow: 1px 1px 0 var(--border), 2px 2px 2px rgba(0, 0, 0, 0.4);
	letter-spacing: 0.05em;
}

.header .greetings .greetings-text {
	animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s
		both;
}

.greetings-hand {
	display: inline-block;
	transform-origin: 70% 70%;
	animation: wave-hand 1.5s ease-in-out 10;
}
@media screen and (min-width: 768px) {
	.greetings {
		font-size: 1.25rem;
	}
}
@media screen and (min-width: 1024px) {
	.greetings {
		font-size: 1.5rem;
	}
}

.header-right-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 1.2rem;

	animation: slide-in-left 0.6s ease-out 0.7s both;
}

@media screen and (min-width: 768px) {
	.header-right-wrapper {
		align-items: flex-end;
	}
}
@media screen and (min-width: 1024px) {
	.header-right-wrapper {
		align-items: center;
	}
}

.theme-checkbox {
	opacity: 0;
	position: absolute;
}

.theme-checkbox-label {
	scale: 0.8;
	background-color: rgb(16, 40, 64);
	width: 50px;
	height: 30px;
	border-radius: 50px;
	position: relative;
	padding: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.theme-checkbox-label {
		scale: 1;
	}
}
@media screen and (min-width: 1200px) {
	.theme-checkbox-label {
		scale: 1.2;
	}
}
.theme-checkbox-label svg {
	transition: transform 0.4s ease;
}
.theme-checkbox-label:hover svg {
	transform: scale(1.1);
}

.theme-checkbox-label .ball {
	display: block;
	background-color: #fff;
	width: 20px;
	height: 20px;
	position: absolute;

	border-radius: 50%;
	transition: transform 0.2s linear;
}
.theme-checkbox-label svg {
	width: 16px;
	height: 16px;
}

.theme-checkbox:checked + .theme-checkbox-label .ball {
	transform: translateX(22px);
}

.backToStart-btn:not(.disabled):hover .logout-tooltip-text {
	visibility: visible;
	opacity: 1;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.logout-tooltip-text {
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--bright-bg);
	color: var(--main-color);
	border-radius: 5px;
	border: 1px solid var(--border);
	padding: 6px 10px;
	position: absolute;
	z-index: 1;
	min-height: 3rem;
	max-height: 3rem;
	min-width: 4rem;
	max-width: 4rem;
	overflow-wrap: break-word;
	bottom: -157%;
	left: -32%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#wrap {
	height: 100%;
	width: 100%;
}

.nav-btn-wrapper {
	z-index: 40;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.5rem;
	position: fixed;
	top: 80%;
	right: 3%;

	animation: slide-in-left 0.6s ease-out 0.7s both;
}

@media screen and (min-width: 768px) {
	.nav-btn-wrapper {
		top: 12%;
		right: 2%;
	}
}

@media screen and (min-width: 1024px) {
	.nav-btn-wrapper {
		right: 1.5%;
	}
}
@media screen and (min-width: 1024px) {
	.nav-btn-wrapper {
		top: 12.5%;
		right: 1.2%;
	}
}

#sidebar-toggleButton,
.buttonPlus,
.backToStart-btn,
.previous-btn,
.next-btn,
.search-results-close-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	width: 8rem;
	padding: 8px 2px;
	text-align: center;
	border: 1px solid var(--border);
	background-color: var(--bg-color);
	color: var(--main-color);
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	transition: background 0.4s ease, transform 0.4s ease;

	text-decoration: none;
}

#sidebar-toggleButton {
	padding: 8px 4px;
}
.backToStart-btn .logout-tooltip-text {
	min-height: 3rem;
	max-height: 3rem;
	min-width: 3rem;
	max-width: 3rem;
	bottom: 5%;
	left: -187%;
}

@media screen and (min-width: 768px) {
	.backToStart-btn .logout-tooltip-text {
		left: -3.2rem;
		bottom: 0.1rem;
	}
}
@media screen and (min-width: 1200px) {
	.backToStart-btn .logout-tooltip-text {
		left: -3.2rem;
		bottom: 0;
	}
}
.backToStart-btn {
	background-color: transparent;
}
.previous-btn,
.next-btn {
	background-color: transparent;
	justify-content: center;
	width: 30px;
}

.buttonPlus,
.search-results-close-btn {
	min-width: 2rem;
	min-height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	margin-left: auto;
}
.search-results-close-btn {
	margin-left: 0;
}
@media screen and (min-width: 1024px) {
	.buttonPlus,
	.search-results-close-btn {
		min-width: 40px;
		min-height: 40px;
		max-width: 40px;
		max-height: 40px;
	}
}

.disabled {
	color: var(--disabled-color);
	pointer-events: none;
	background-color: initial;
	transform: none;
	cursor: default;
}

.backToStart-btn {
	flex-direction: column;
	width: 30px;
}

#sidebar-toggleButton:hover,
.buttonPlus:hover,
.backToStart-btn:not(.disabled):hover,
.previous-btn:not(.disabled):hover,
.next-btn:not(.disabled):hover,
.search-results-close-btn:hover {
	background-color: var(--bright-bg);
	transform: scale(1.02);
}

#arrowIcon {
	height: 1.5rem;
	width: 1.5rem;
	transform: rotate(90deg);
	transition: transform 0.4s ease;
}

.arrowUp {
	height: 1rem;
	width: 1rem;
	transform: rotate(-180deg);
	transition: transform 0.4s ease;
}
.arrowDown {
	height: 1rem;
	width: 1rem;

	transition: transform 0.4s ease;
}

.sidebar-hide #sidebar-toggleButton {
	width: 1.875rem;
	overflow: hidden;
}
.sidebar-hide #sidebar-toggleButton span {
	width: 0px;
	opacity: 0;
}

.sidebar-hide #arrowIcon {
	transform: rotate(270deg);
}

.sidebar-toggleButton-wrapper {
	z-index: 999999999999;
	transform: translateX(-100%);
	width: 10.1rem;
	background-color: var(--bg-color);
	position: fixed;
	top: 4rem;
	left: 0;
	padding: 0.5rem;
	padding-left: 0.8rem;
	transition: transform 0.6s ease;
}

@media screen and (min-width: 768px) {
	.sidebar-toggleButton-wrapper {
		padding-left: 1rem;
	}
}
.sidebar-toggleButton-wrapper.open {
	transform: translateX(0);
}
.sidebar-hide .sidebar-toggleButton-wrapper {
	background-color: transparent;
}

#sidebar {
	z-index: 50;
	background-color: var(--bg-color);
	position: fixed;
	top: 7.1rem;
	left: 0;
	height: calc(100% - 7rem);

	width: 10.1rem;
	overflow-y: scroll;

	font-size: 1rem;
	opacity: 1;
	padding: 1rem 0.5rem 0.2rem 0.6rem;
	transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.sidebar-hide #sidebar {
	transform: translateX(-100%);
	opacity: 0;
}

#sidebar a {
	font-size: 0.938rem;
	color: var(--main-color);
	text-decoration: none;
	display: inline-block;
	transition: color 0.4s ease, text-decoration-color 0.4s ease,
		transform 0.4s ease;
}

#sidebar li.active > a,
#sidebar li.active > div > a,
#sidebar a.active {
	color: var(--sidebar-link-active);
}

#sidebar li li.active {
	color: var(--sidebar-link-active);
}

#sidebar a:hover {
	text-decoration: underline;
	color: var(--hover-btn-color);
	transform: scale(1.05);
}

#sidebar > ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

#sidebar > ul > li {
	margin-bottom: 1rem;
}
.side-bar__main-topic-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* gap: 0.7rem; */
	margin-bottom: 0.4rem;
}
#sidebar .side-bar__main-topic {
	font-weight: 700;
}

.side-bar__sub-topic li:hover {
	color: var(--hover-btn-color);
}

.side-bar__sub-topic li {
	list-style: none;
	position: relative;

	transition: color 0.4s ease;
}

.side-bar__sub-topic li::before {
	content: "◦";
	position: absolute;
	left: -0.6em;
	top: 0;
	font-size: 1.3em;
	line-height: 1;
	color: currentColor;
}

.side-bar__sub-topic li.active::before {
	content: "•";
}

#sidebar > ul > li > a:not(:only-child) {
	margin-bottom: 0.5rem;
	display: inline-block;
}

#sidebar > ul ul {
	padding-left: 1.2rem;
}

#content {
	padding-left: 10.2rem;
	padding-right: 0.5rem;
}
.sidebar-hide #content {
	padding-left: 0.5rem;
}

#search-container {
	z-index: 9999;
	position: fixed;
	top: 4.2rem;
	right: calc(50% - 5rem);
	transform: translateX(50%) scale(0.7);
	width: 14.25rem;
	height: 3.7rem;

	padding: 0 0.6rem;
	background-color: var(--bg-color);
	border-radius: 24px;
	border: 1px solid var(--border);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: right 0.6s ease, left 0.6s ease, box-shadow 0.4s ease;

	animation: text-focus-in 0.9s ease-out 0.4s both;
}

#search-container:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#search-container:has(input:focus) {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (min-width: 768px) {
	#search-container {
		width: 30rem;
		right: calc(50% - 4rem);
	}
}

.sidebar-hide #search-container {
	right: 45%;
	width: calc(100% - 2rem);
}
@media screen and (min-width: 768px) {
	.sidebar-hide #search-container {
		right: 50%;
	}
}

.search-input-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
	gap: 0.675rem;
}

#search-input,
#search-button {
	color: var(--main-color);
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	outline: none;
}

#search-input[type="text"] {
	border-radius: 8px;
	width: 100%;
	height: 2.6rem;
	font-size: 1.575rem;
	line-height: 1;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

#search-input[type="text"]::placeholder {
	color: var(--main-color);
}

#search-icon {
	height: 100%;
	border-left: 1px solid var(--border);
	padding-left: 0.5rem;
}

#search-button {
	position: relative;
	display: block;
	width: 2.8rem;
	height: 3rem;
	cursor: pointer;
}

#search-icon-circle {
	display: block;
	position: relative;
	top: -0.3rem;
	left: 0;
	width: 1.6125rem;
	height: 1.6125rem;
	margin-top: 0;
	border-width: 15px;
	border: 5px solid var(--main-color);
	background-color: var(--bg-color);
	border-radius: 50%;
	transition: 0.5s ease all;
}

#search-button span {
	position: absolute;
	top: 2.55rem;
	left: 1.6125rem;
	display: block;
	width: 1.6875rem;
	height: 0.5625rem;
	background-color: transparent;
	border-radius: 10px;
	transform: rotateZ(52deg);
	transition: 0.5s ease all;
}

#search-button span:before,
#search-button span:after {
	content: "";
	position: absolute;
	bottom: -0.2rem;
	right: 1.225rem;
	width: 1.2875rem;
	height: 0.275rem;
	background-color: var(--main-color);
	border-radius: 10px;
	transform: rotateZ(0);
	transition: 0.5s ease all;
}

#search-icon:hover #search-icon-circle {
	top: 0px;
	width: 2.625rem;
	height: 0.3625rem;
	border-width: 0;
	background-color: var(--main-color);
	border-radius: 20px;
}

#search-icon:hover span {
	top: 50%;
	left: 2.1rem;
	width: 0.9375rem;
	margin-top: -0.3375rem;
	transform: rotateZ(0);
}

#search-icon:hover button span:before {
	bottom: 0.4125rem;
	transform: rotateZ(52deg);
}

#search-icon:hover button span:after {
	bottom: -0.4125rem;
	transform: rotateZ(-52deg);
}

#search-icon:hover button span:before,
#search-icon:hover button span:after {
	right: -0.225rem;
	width: 1.5rem;
	background-color: var(--main-color);
	height: 0.375rem;
}
.search-results-wrapper {
	display: none;
	position: relative;
}
.search-results-close-btn {
	scale: 1.3;
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	color: var(--close-btn-red);
	font-size: 1.1rem;
	z-index: 1;
}

#search-results {
	max-height: 25.5rem;
	overflow-y: auto;
	overscroll-behavior: contain;

	border-radius: 8px;
	margin-top: 0.5rem;
	padding: 1rem 3.5rem 1rem 0.5rem;

	border: 1px solid var(--border);
	border-radius: 8px;
	background-color: var(--bg-color);
}

.search-result-item {
	padding: 0.375rem 0.375rem;

	background-color: var(--bg-light-white);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 1rem;
	border-radius: 8px;
	transition: box-shadow 0.4s ease;
}
.search-result-item:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.search-result-item:hover a {
	color: var(--sidebar-link-active);
}

.search-result-item a {
	transition: color 0.4s ease;
	color: var(--main-color);
}

.search-result-item:last-child {
	border-bottom: none;
}

#content p.search-result-text:first-of-type {
	margin-top: 1rem;
}

.search-result-text {
	font-size: 0.9rem;
	color: var(--main-color);
	margin-top: 0.1875rem;
}

#content section {
	overflow-x: hidden;
	min-height: 100vh;
	padding: 8rem 0.5rem 0.5rem 0.5rem;
	border-radius: 8px;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1),
		2px 0 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;
	align-content: center;

	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	#content section {
		padding-left: 1rem;
		padding-right: 1.5rem;
	}
}
@media screen and (min-width: 1200px) {
	#content section {
		padding-left: 1.2rem;
	}
}
@media screen and (min-width: 1440px) {
	#content section {
		padding-left: 1.4rem;
		padding-right: 1.7rem;
	}
}

.sidebar-hide #content section {
	padding-left: 2.5rem;
}

@media screen and (min-width: 1024px) {
	.sidebar-hide #content section {
		padding-left: 2.7rem;
	}
}

@media screen and (min-width: 1200px) {
	.sidebar-hide #content section {
		padding-left: 2.7rem;
	}
}

#content p:first-of-type {
	margin-top: 2rem;
}

#content section:nth-of-type(even) {
	background-color: var(--sectionEven-color);
}
#content section:nth-of-type(odd) {
	background-color: var(--section-color);
}
#content ol li,
#content ul li {
	margin-bottom: 0.5rem;
}
#content ol,
#content ul {
	padding-left: 1rem;
	padding-right: 0.5rem;
	overflow-wrap: break-word;
	word-break: break-word;
	max-width: 100%;
}

#content #start,
#adjustment,
.content-mainTitle-wrapper,
.start {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

#content img {
	border-radius: 8px;
	max-width: 100%;
	margin: 1rem auto;
	display: block;
	background-color: inherit;
}

#content #history img {
	margin: 2rem auto;
}

#content h3,
#content h2 {
	margin-top: 0;
	margin-bottom: 0;
}

#content h2 {
	padding-bottom: 1rem;
	text-transform: uppercase;
	padding-left: 0;

	font-size: 1.8rem;
	text-align: center;
}

#mb-management-board h2 {
	font-size: 1.7rem;
}

#content h3,
#content h4 {
	text-align: center;
	text-transform: none;
}

.about-logo-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 1rem;
}
#about .logo {
	width: 40vw;
	transform-origin: center;
}

.info,
.note {
	position: relative;
	padding: 1rem;
	padding-left: 3rem;
	border-radius: 1rem;
	background-color: var(--table-info);
}
.note {
	background-color: var(--note);
}

.info::before {
	content: "";
	position: absolute;
	top: 1rem;
	left: 0.8rem;
	width: 1.6rem;
	height: 1.6rem;
	background-image: url("../images/info.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.note::before {
	content: "";
	position: absolute;
	top: 1rem;
	left: 0.8rem;
	width: 1.6rem;
	height: 1.6rem;
	background-image: url("../images/warning.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

div.info,
div.note {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.info ul,
div.note ul {
	margin-top: 1rem;
	list-style: disc outside;
	padding-left: 1rem;
}

ul.none {
	list-style: none;
}

.faq-list {
	padding-top: 1rem;
}
.faq-item__question {
	cursor: pointer;
	padding: 8px;
	background-color: var(--bg-color);
	font-size: inherit;
	margin-bottom: 0.5rem;
	user-select: none;
	border-radius: 4px;
	transition: transform 0.4s ease;
}
.faq-item__question:hover {
	transform: scale(1.02);
}
.faq-item__answer,
.side-bar__sub-topic {
	overflow: hidden;

	height: 0;
	transition: height 0.6s ease;
}
@media screen and (max-width: 425px) {
	.table-wrapper {
		overflow-x: auto;
		width: 100%;
	}
}

table {
	min-width: 350px;
	border-style: solid;
	border-collapse: collapse;
}

table th {
	background-color: var(--table-info);
	font-weight: normal;
	text-align: center;
}

table th,
table td {
	padding: 5px;
}

.video-wrapper {
	display: flex;
	justify-content: center;
}

.responsive-video {
	height: 98px;
}
@media (min-width: 425px) and (max-width: 480px) {
	.responsive-video {
		height: 108px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.responsive-video {
		height: 200px;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.responsive-video {
		height: 240px;
	}
}
@media (min-width: 1025px) and (max-width: 1439px) {
	.responsive-video {
		height: 300px;
	}
}
@media (min-width: 1440px) {
	.responsive-video {
		height: 325px;
	}
}

.title-line {
	margin-bottom: 1rem;
	text-align: center;
}

.title-line h3 {
	margin: 0;
	display: inline-block;
}

.title-line h3 span {
	position: relative;
	display: inline-block;
	white-space: normal;
	word-break: break-word;
	max-width: 11rem;
}

@media screen and (min-width: 768px) {
	.title-line h3 span {
		max-width: none;
	}
}

@media screen and (min-width: 425px) {
	.sidebar-hide .title-line h3 span {
		max-width: none;
	}
}

.title-line h3 span::before,
.title-line h3 span::after {
	content: "";
	position: absolute;
	top: 50%;
	border-bottom: 3px solid var(--main-color);
	width: 0.5rem;
	height: 0;
}

.title-line h3 span::before {
	left: -10px;
}

.title-line h3 span::after {
	right: -10px;
}

@media screen and (min-width: 1024px) {
	.title-line h3 span::before {
		left: -12px;
	}

	.title-line h3 span::after {
		right: -12px;
	}
}

@media screen and (min-width: 1200px) {
	.title-line h3 span::before {
		left: -2.4rem;
		width: 2rem;
	}

	.title-line h3 span::after {
		right: -2.4rem;
		width: 2rem;
	}
}
.section-break-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	height: 1rem;
}

.section-break-3 {
	overflow: visible;
	background-color: var(--main-color);
	border: 0;
	height: 1px;
	
	width: 100%;
	position: absolute;
}

.section-break-icon {
	background-color: var(--bg-light-white);
	padding: 0 0.5rem;
	z-index: 1;
	color: var(--main-color);
}

.section-break-icon svg {
	width: 0.5rem;
	height: 0.5rem;
}
/* .section-break-container {
	position: relative;
	width: 100%;
}

.section-break-3 {
	overflow: visible;

	background-color: var(--main-color);
	border: 0;
	height: 1px;
	margin: 1rem 0;
	width: 100%;
}

.sidebar-hide .section-break-icon {
	transform: translateX(-50%);
	left: 50%;
}

.section-break-icon {
	
	position: absolute;
	left: 50%;
	top: -0.7rem;
	transform: translateX(-50%);
	background-color: var(--bg-light-white);
	padding: 0 0.5rem;
	z-index: 1;
	color: var(--main-color);
}
.section-break-icon svg {
	width: 0.5rem;
	height: 0.5rem;
} */

/* !!! classes and keyframes for IntersectionObserver animations */

@keyframes slide-in-down {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes logo-spin-grow {
	0% {
		transform: scale(0.1) rotate(0deg);
		opacity: 0;
	}
	25% {
		transform: scale(0.3) rotate(900deg);
		opacity: 1;
	}
	50% {
		transform: scale(0.5) rotate(1800deg);
	}
	75% {
		transform: scale(0.75) rotate(2700deg);
	}
	100% {
		transform: scale(1) rotate(3600deg);
	}
}

@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes rotate-infinite {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes flip-vertical-left {
	0% {
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
}

@keyframes pulsate-bck {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes wave-hand {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(14deg);
	}
	30% {
		transform: rotate(-8deg);
	}
	45% {
		transform: rotate(14deg);
	}
	60% {
		transform: rotate(-4deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blur-out {
	0% {
		filter: blur(10px);
	}
	100% {
		filter: blur(0);
	}
}

h2.in-view,
h4.in-view {
	animation: slide-in-right 0.6s ease-out both;
}

h3.in-view,
#content strong.in-view {
	animation: slide-in-left 0.6s ease-out both;
}

#about .logo.in-view {
	animation: logo-spin-grow 1.2s linear 0.4s both;
}

#content section p.in-view,
#content section ul.in-view,
#content section ol.in-view,
#content img.in-view {
	animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

#content section .info.in-view,
#content section .note.in-view {
	animation: flip-vertical-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
		both;
}

#content section .info.in-view::before,
#content section .note.in-view::before {
	animation: pulsate-bck 0.5s ease-in-out infinite both;
}
